---
import Logo from '@/components/Logo.astro'
---

<header class="headerPage">
  <Logo />
  <nav class="nav">
    <ul class="nav__links">
      <li>
        <a href="/" id="partialgradePage" class="nav__link">Promedio Parcial</a>
      </li>
      <li>
        <a href="/calificacion-final/" id="finalgradePage" class="nav__link">Calificación Final</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  .headerPage {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    max-width: 75rem;
    padding: 2rem 1rem 1rem;
    margin: 0 auto;
  }

  .headerPage nav {
    width: 100%;
  }

  .nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin: 0;
  }

  .nav__links li {
    list-style: none;
  }

  .nav__link {
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--white-text);
    font-weight: var(--medium-fw);
    font-size: var(--small-fs);
    padding: 0.75rem;
    border-radius: var(--b-radius);
    transition: background 0.2s ease;
  }

  .nav__link:hover {
    background-color: var(--bg-gray);
  }

  .nav__link.active-page {
    color: var(--primary-color-light);
  }

  @media (min-width: 34.375rem) {
    .headerPage {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }

    .headerPage nav {
      width: fit-content;
    }
  }

  @media (min-width: 21.875rem) {
    .nav__link {
      font-size: var(--regular-fs);
      padding: 1rem;
    }
  }
</style>

<script>
  const partialgradePage = document.getElementById('partialgradePage') as HTMLAnchorElement
  const finalgradePage = document.getElementById('finalgradePage') as HTMLAnchorElement
  const pageMappings = {
    '/': partialgradePage,
    '/calificacion-final/': finalgradePage
  }

  const currentPage = pageMappings[window.location.pathname]

  if (currentPage) currentPage.classList.add('active-page')
</script>
