<span class="instructions__step">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    style="fill: rgba(0, 83, 159, 0.8); user-select: none; display: block;">
    <path
      d="M12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z">
    </path>
  </svg>
  <p class="instructions__text">
    <slot />
  </p>
</span>

<style>
  svg {
    width: 100%;
    max-width: 1.563rem;
  }

  .instructions__step {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  .instructions__text {
    line-height: 1.75rem;
    color: var(--white-text);
    font-weight: var(--regular-fw);
    font-size: var(--regular-fs);
    margin-top: 1rem;
    margin-bottom: 0;
  }
</style>
