:root {
  --accent-color: #00539f;
  --grey-300: #ecf0f3;
  --grey-400: #b7c1c8;
  --grey-500: #8e9ba4;
  --bg-color: #ffffff;
  --black-text: #292929;
  --white-text: #f2f2f2;
  --form-shadow: rgba(146, 161, 176, 0.15);
  --submit-shadow: rgba(59, 130, 246, 0.3);
  --large-font-size: 1.25rem;
  --regular-font-size: 1rem;
  --small-font-size: 0.8rem;
  --b-radius: 0.25rem;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Manrope', sans-serif;
  background-color: var(--bg-color);
  color: var(--black-text);
}

.nav__links,
.form__submit,
.info-icon {
  user-select: none;
}

.two-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
}

.nav__links {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  padding-left: 0;
}

.nav__links li {
  list-style: none;
}

.nav__link {
  width: 8rem;
  text-decoration: none;
  text-align: center;
  color: var(--accent-color);
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: var(--b-radius);
}

.two-sections {
  width: min(100%, 75rem);
  margin: 0 auto;
}

.form {
  padding: 3rem 1.5rem;
  margin: 3rem auto;
  border-radius: var(--b-radius);
  box-shadow: 0.4rem 0.4rem 1.4rem var(--form-shadow),
    -0.2rem -0.2rem 1.4rem var(--bg-color);
  width: min(97%, 37.5rem);
  font-size: var(--regular-font-size);
  border: 1px solid var(--grey-300);
}

.form__title {
  text-align: center;
  font-size: var(--large-font-size);
  font-weight: 600;
}

.form__inputs {
  display: grid;
  border: none;
  row-gap: 0.5rem;
}

.input-container {
  position: relative;
}

.form__input {
  position: relative;
  padding: 3rem 10px 0.8rem 0.5rem;
  border: none;
  outline: none;
  border-top-right-radius: var(--b-radius);
  border-top-left-radius: var(--b-radius);
  border-bottom: 1px solid var(--grey-400);
  height: 3rem;
  width: 100%;
  max-width: 12rem;
  min-width: 9rem;
}

.form__label {
  position: absolute;
  top: 1.25rem;
  left: 2px;
  padding: 0.3rem;
  pointer-events: none;
  color: var(--grey-500);
  transition: all 0.2s ease-in;
}

.form__actions {
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__output {
  padding: 0.4rem;
  border: none;
  border-radius: var(--b-radius);
  width: 100%;
  max-width: 12rem;
  height: 5rem;
  background-color: var(--grey-300);
  color: var(--black-text);
}

.form__submit {
  cursor: pointer;
  border: none;
  background-color: var(--accent-color);
  color: var(--white-text);
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  height: 2rem;
  width: 100%;
  max-width: 12rem;
  transition: all 0.2s ease;
  border-radius: var(--b-radius);
  box-shadow: 0 5px 10px -1px var(--submit-shadow),
    0 2px 4px -2px var(--submit-shadow);
}

.instructions {
  width: min(97%, 37.5rem);
  margin: 1rem auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.instructions__title {
  font-size: var(--large-font-size);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.instructions__step {
  display: flex;
  column-gap: 0.5rem;
}

.instructions__text {
  line-height: 1.75rem;
  font-weight: 400;
}

.footer {
  margin-top: auto;
  width: 100%;
  background-color: var(--accent-color);
  min-height: 2rem;
}

.footer__text {
  font-size: var(--small-font-size);
  color: rgba(252, 252, 252, 0.8);
  text-align: center;
}

.footer__link {
  text-decoration: none;
  color: var(--white-text);
}

/* effects */
.form__input:hover {
  border-bottom: 1px solid var(--accent-color);
}

.form__input:focus {
  background-color: aliceblue;
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}

.form__submit:hover,
.form__submit:focus {
  transform: scale(1.025);
}

.form__input:hover ~ .form__label {
  color: var(--accent-color);
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: 0;
  font-size: var(--small-font-size);
  color: var(--accent-color);
}

@media (min-width: 60rem) {
  .two-sections {
    display: grid;
    grid-template-columns: 1fr 28.125rem;
    column-gap: 1rem;
  }
}
